.App {
	button {
		font-weight: bold;
	}
}
.input{
	position: absolute;
	top: 50px;
	left:500px;
	width:40%;
}
.add{
	position: absolute;
	top: 65px;
	left:750px;
}

.container{
	position: absolute;
	left:500px;
	border: 2px outlined midnightblue ;
	width: max-content;
}
