.App {
	button {
		font-weight: bold;
	}
}
.input{
	position: absolute;
	top: 50px;
	left:500px;
	width:40%;
}
.button{
	position: absolute;
	top: 65px;
	left:750px;
}
.clear{
	position: absolute;
	top: 400px;
	left:700px;
}
.selectAll{
	position: absolute;
	top: 100px;
	left:600px;
}
.container{
	position: absolute;
	left:500px;
	border: 2px outlined midnightblue ;
	width: max-content;
}
.filter{
	position: absolute;
	top: 140px;
	left:500px;
}
